.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    text-align: center;
    margin-top: 30px;
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}
